<div class="box-it">
  <form [formGroup]="regForm" (ngSubmit)="processForm()">
    <table>
      <tr>
        <td>Name:</td>
        <td>
          <input type="text" size="30" formControlName="name">
        </td>
      </tr>
      <tr>
        <td>Email:</td>
        <td>
          <input type="text" size="30" formControlName="email">
        </td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          <select formControlName="gender">
            <option value="f">Female</option>
            <option value="m">Male</option>
            <option value="a">Abstain</option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="checkbox" formControlName="newsletter">
          Check if you wish to receive our newsletter
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div>
            invalid: {{ regForm.invalid }}, valid: {{ regForm.valid }},
            pristine: {{ regForm.pristine }}, touched: {{ regForm.touched }},
            dirty: {{ regForm.dirty }}
        </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button type="submit" [disabled]="regForm.invalid">
            Register!
          </button>
        </td>
      </tr>
    </table>

  </form>

</div>
